#container {
  text-align: left;
  position: relative;
  top: 5%;
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.title-default h1{
  text-overflow: inherit;
  white-space: normal;
  font-weight: 600;
}

.list-row {
  display: flex;
  flex: 2;
  //justify-content: space-between;
}

.txt-right {
  text-align: right;
}

.date-list {
  border: 5px red solid;
}

.item-label {
  color: var(--ion-color-secondary);
  text-overflow: unset;
    white-space: unset;
    flex: 1;
}

#date {
  border: 1px solid;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}

#submitBtn {
  text-transform: none;
}

#result {
  margin-top: 20px;
}